Package: emt.paisseon.satella
Name: Satella
Version: 1.8.1
Architecture: iphoneos-arm
Description: Modern in-app purchase cracker
Maintainer: Lilliana
Author: Lilliana
Section: Tweaks (Piracy)
Depends: mobilesubstrate, firmware (>= 12.2), preferenceloader, com.opa334.altlist
SileoDepiction: https://paisseon.github.io/depictions/Satella.json
Depiction: https://pinpal.github.io/Sileo-Depiction-WebViews/?json=https://paisseon.github.io/depictions/Satella.json&name=Satella&dev=Lilliana
Icon: https://paisseon.github.io/icons/Satella.png
