<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>condensed</key>
			<true/>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>packageNameOverride</key>
			<string>Satella</string>
			<key>icon</key>
			<string>icon.png</string>
			<key>packageIdentifier</key>
			<string>emt.paisseon.satella</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>emt.paisseon.satella.prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>emt.paisseon.satella</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>emt.paisseon.satella.prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>emt.paisseon.satella</string>
			<key>key</key>
			<string>isReceipt</string>
			<key>label</key>
			<string>Receipts</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>emt.paisseon.satella.prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>emt.paisseon.satella</string>
			<key>key</key>
			<string>isObserver</string>
			<key>label</key>
			<string>Observer</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>emt.paisseon.satella.prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>emt.paisseon.satella</string>
			<key>key</key>
			<string>isSideloaded</string>
			<key>label</key>
			<string>Sideloaded Apps</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>emt.paisseon.satella.prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>emt.paisseon.satella</string>
			<key>key</key>
			<string>isPriceZero</string>
			<key>label</key>
			<string>0,01 Price</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Injection Control</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>emt.paisseon.satella.prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>emt.paisseon.satella</string>
			<key>key</key>
			<string>isGloballyInjected</string>
			<key>label</key>
			<string>Global Injection</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>emt.paisseon.satella.prefschanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaultApplicationSwitchValue</key>
			<false/>
			<key>defaults</key>
			<string>emt.paisseon.satella</string>
			<key>detail</key>
			<string>ATLApplicationListMultiSelectionController</string>
			<key>includeIdentifiersInSearch</key>
			<true/>
			<key>key</key>
			<string>apps</string>
			<key>label</key>
			<string>Enabled Apps</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>User</string>
				</dict>
			</array>
			<key>showIdentifiersAsSubtitle</key>
			<true/>
			<key>useSearchBar</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Links</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>iconURL</key>
			<string>https://avatars.githubusercontent.com/u/68789766</string>
			<key>label</key>
			<string>Source Code</string>
			<key>subtitle</key>
			<string>View on GitHub</string>
			<key>url</key>
			<string>https://github.com/Paisseon/Satella</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>iconURL</key>
			<string>https://cdn.discordapp.com/icons/869579480375623720/a_0661a099789abaa5df7d2a18962a5d06.jpg</string>
			<key>label</key>
			<string>Join CyPwn</string>
			<key>subtitle</key>
			<string>The best jailbreak Discord server</string>
			<key>url</key>
			<string>https://discord.gg/cypwn</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>
	The search for meaning is a lonely journey
	Through a world that&apos;s cold and unforgiving
	We thought that we had found our freedom
	But it was only an illusion, a fleeting moment of bliss
	
	We left our past behind, thinking we could start anew
	But the chains of our past lives still held us in their grip
	No matter how far we ran, we could not escape
	The ghosts of our past haunting us with every step we took
	
	We thought that freedom meant a chance to find our purpose
	But what we found was only emptiness and despair
	We realised that true freedom comes from within
	From letting go of the pain and the hurt of our past
	
	Only then can we truly start to heal
	And find the meaning and purpose that we seek
	We must face our demons, and forgive those who have wronged us
	In order to break the shackles that bind us and finally be free</string>
		</dict>
	</array>
	<key>title</key>
	<string>Satella</string>
</dict>
</plist>
